In [8]:
library(dplyr)

Attaching package: 'dplyr'


The following objects are masked from 'package:stats':

    filter, lag


The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [5]:
vector1 <- c(rep("spec1", 6), rep("spec2", 6))
vector2 <- c(rep("temp1", 6), rep("temp2",6))
vector3 <- c(rep(300, 6), rep(500, 6))
column1 <- c(rep(2, 4), rep(5,4), rep(11,4))
my_df <- data.frame(vector1, vector2, vector3, column1)
my_df

   vector1 vector2 vector3 column1
1  spec1   temp1   300      2
2  spec1   temp1   300      2
3  spec1   temp1   300      2
4  spec1   temp1   300      2
5  spec1   temp1   300      5
6  spec1   temp1   300      5
7  spec2   temp2   500      5
8  spec2   temp2   500      5
9  spec2   temp2   500     11
10 spec2   temp2   500     11
11 spec2   temp2   500     11
12 spec2   temp2   500     11

In [23]:
my_function <- function(a, b, c){
    tmp_output <- subset(my_df, vector1== a & vector2 == b & vector3 ==c, select = column1) %>% colSums
    return(tmp_output)
}

In [26]:
my_function("spec1", "temp1", 300)

column1
     18

In [19]:
tmp_output <- subset(my_df, vector1== "spec1", vector2== "temp2", vector3== 300, select= column1) %>% sum

Warning message in if (drop) {:
"the condition has length > 1 and only the first element will be used"
Warning message in if (!drop) {:
"the condition has length > 1 and only the first element will be used"

In [20]:
tmp_output

[1] 18